body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  width: 100%;
  height: 100vh;
}

.netflix{
  color: rgb(172, 2, 2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  text-shadow: 2px 2px 4px black;
  margin: 20px;
  z-index: 10;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  max-width: 500px;
  max-height: 600px;
}

.login,
.register {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  border: 1px solid grey;
  box-shadow: 1px 1px 40px rgba(170, 4, 4, 0.83);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #21212189;
}
.login h1,
.register h1 {
  text-align: center;
}
.login h4,
.register h4 {
  text-align: center;
}

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: #212121;
  background-image: url("https://s3.amazonaws.com/prod-cdata-secure.sprinklr.com/DAM/3877/c403c07b-df03-4039-bee7-1a0dd7b449bd-227725003/what_is_netflix_5_en.png?X-Amz-Security-Token=IQoJb3JpZ2luX2VjELf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCICGL%2BA6L9QJIl6Bo7bnySbztp0Z0JhSVSUs%2BItC%2BWU4VAiAzV2gDH%2BiswsYXuQjPnzDOUc9yOgUkHfIIpAKCdEwQKyq6BQjA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg2OTM2NzQ3MTY3NCIMdmmyuwa%2BKWbJCVEvKo4FKuXgahTGcE%2BJz%2FvLI3%2B2Fx55GDEu4GZuURZajPhv8isLYQiR5tUv7HY%2FZxlyurGYBtVGka29hk9N2nufNY8qkXgunaBvL0xtGdTPidNx3g%2BqRRzcVQZEahBhj04hVMrV8WGG5gduuTl0QdAMQ4%2B8ERg0olGIgi1Afw93V9E5Q%2BBE2wu8TPsCEDA9ffoD3OUK6Jz6Wl6Nk3Gq0oxziUF0u10WuESvKFtMctVxfD5RddxSVwRybivx8jntfQo4vN%2FvbzI00mpyv9och9D2wJswpVd9iwnhYRivZDqASpPjaJkyxuulFQ12O%2FCZ8HzV8iSNmtFaQcB7%2FIPhR8cjt0gL8AGImv5dFAPnbphm%2BCDE7fd1oJG8SJdKa73PdnbvNypRzTb4Hx3Je50qZwbBvhgCs3L%2FT%2FaTvQJUX25goEku2KGgKN82oyT7eH32fbonXkKD9u5BAPjPEqbt3pWHIAM6B2u5adHv0nlRoP32lRe7D5DyNk%2FDhQ%2FOvgCOCsuHYremDjgbI28dAismlmWXUISAjjrnYcgDIPeoYtVIaDCO5asifygmUunszJHvf1E%2FXxf8jqHGMTw7%2F44v%2BAdpNbBTPRs5tiHCKItiOJk2zS4psEkhndyEUb1LdNgYi7K2UNMzK5ARwS94Bo38c8O3Ha3YJWsbCBKRMY%2Bgi4gJmQ33sh6UeTnhTNm5BZ0OhFJbS399lH%2FUz%2BCzyEniRNctxxbA3PrSYgsvvX%2BwTQgNpP7coVv8OV2IscxFJWt5uECQn0bdSKXhlIuC%2FKjWA8%2FSWXcPcIJSLW0acB%2BvwdFqd31fXx10Pit%2BLkeqQvZbFWEMhvpFGrGZ9jHBCpqJ%2FT1EpuSIBNcVbXQ1JUZYEqQ1PEpBMM3M87wGOrIB0y50LhH%2BuaISZBsI9%2B7wOW7dNlzQAPA3ezjX4jwIle1pEkKDslaTXOiWvzUZTRp9tJi4AcOw%2FIkZsZPYhwkvykLUFd%2BtB4uUJ3ovUE%2FzK%2FVNvyeWvgNMEiQVUBHZyeXuFSQFObFdHHkgK%2FT%2FADZiCu7wjJuCgKKiefKzNOveYjcg1VOEbaZlFa3KAAXGsFcYnc9lYLhRi2c1URJ6RA787WFkJjDR1qBnnprxT%2BcNVlTpQA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250131T153612Z&X-Amz-SignedHeaders=host&X-Amz-Expires=1800&X-Amz-Credential=ASIA4U2SW3Y5OO7LKCLG%2F20250131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=143fbae62b111b2f6d18d40f5952d565ff8e2f6b1ce1aa08d863cbe870f9d8a9");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn, .log-out {
  background-color: rgb(194, 2, 2);
  color: white;
  padding: 0.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 0.75rem;
  outline: none;
  color: white;
  background-color: #212121;
  border-radius: 5px;
  border: 1px solid grey;
}

input:hover {
  transform: translateY(-2px);
}

.footer {
  width: 100%;
  height: auto;
  position: fix;
  bottom: 0;
  background: linear-gradient(45deg, black 30%, #700101);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(221, 221, 221, 0.921);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.footer img, .movie-card img, .series-card img{
  width: 270px;
  height: 325px;
}

.cards{
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100px;
  max-width: 100px;
  border: 1px solid grey;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.275);
}

.side{
  padding: 0;
  margin: 0;
  max-width: 99px;
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.side img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.home{
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  background-image: url("https://s3.amazonaws.com/prod-cdata-secure.sprinklr.com/DAM/3877/c403c07b-df03-4039-bee7-1a0dd7b449bd-227725003/what_is_netflix_5_en.png?X-Amz-Security-Token=IQoJb3JpZ2luX2VjELf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCICGL%2BA6L9QJIl6Bo7bnySbztp0Z0JhSVSUs%2BItC%2BWU4VAiAzV2gDH%2BiswsYXuQjPnzDOUc9yOgUkHfIIpAKCdEwQKyq6BQjA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg2OTM2NzQ3MTY3NCIMdmmyuwa%2BKWbJCVEvKo4FKuXgahTGcE%2BJz%2FvLI3%2B2Fx55GDEu4GZuURZajPhv8isLYQiR5tUv7HY%2FZxlyurGYBtVGka29hk9N2nufNY8qkXgunaBvL0xtGdTPidNx3g%2BqRRzcVQZEahBhj04hVMrV8WGG5gduuTl0QdAMQ4%2B8ERg0olGIgi1Afw93V9E5Q%2BBE2wu8TPsCEDA9ffoD3OUK6Jz6Wl6Nk3Gq0oxziUF0u10WuESvKFtMctVxfD5RddxSVwRybivx8jntfQo4vN%2FvbzI00mpyv9och9D2wJswpVd9iwnhYRivZDqASpPjaJkyxuulFQ12O%2FCZ8HzV8iSNmtFaQcB7%2FIPhR8cjt0gL8AGImv5dFAPnbphm%2BCDE7fd1oJG8SJdKa73PdnbvNypRzTb4Hx3Je50qZwbBvhgCs3L%2FT%2FaTvQJUX25goEku2KGgKN82oyT7eH32fbonXkKD9u5BAPjPEqbt3pWHIAM6B2u5adHv0nlRoP32lRe7D5DyNk%2FDhQ%2FOvgCOCsuHYremDjgbI28dAismlmWXUISAjjrnYcgDIPeoYtVIaDCO5asifygmUunszJHvf1E%2FXxf8jqHGMTw7%2F44v%2BAdpNbBTPRs5tiHCKItiOJk2zS4psEkhndyEUb1LdNgYi7K2UNMzK5ARwS94Bo38c8O3Ha3YJWsbCBKRMY%2Bgi4gJmQ33sh6UeTnhTNm5BZ0OhFJbS399lH%2FUz%2BCzyEniRNctxxbA3PrSYgsvvX%2BwTQgNpP7coVv8OV2IscxFJWt5uECQn0bdSKXhlIuC%2FKjWA8%2FSWXcPcIJSLW0acB%2BvwdFqd31fXx10Pit%2BLkeqQvZbFWEMhvpFGrGZ9jHBCpqJ%2FT1EpuSIBNcVbXQ1JUZYEqQ1PEpBMM3M87wGOrIB0y50LhH%2BuaISZBsI9%2B7wOW7dNlzQAPA3ezjX4jwIle1pEkKDslaTXOiWvzUZTRp9tJi4AcOw%2FIkZsZPYhwkvykLUFd%2BtB4uUJ3ovUE%2FzK%2FVNvyeWvgNMEiQVUBHZyeXuFSQFObFdHHkgK%2FT%2FADZiCu7wjJuCgKKiefKzNOveYjcg1VOEbaZlFa3KAAXGsFcYnc9lYLhRi2c1URJ6RA787WFkJjDR1qBnnprxT%2BcNVlTpQA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250131T153612Z&X-Amz-SignedHeaders=host&X-Amz-Expires=1800&X-Amz-Credential=ASIA4U2SW3Y5OO7LKCLG%2F20250131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=143fbae62b111b2f6d18d40f5952d565ff8e2f6b1ce1aa08d863cbe870f9d8a9");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
}

.movies, .series{
    padding: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(205, 205, 205);
    background-color: rgba(98, 98, 98, 0.486);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.movies:hover, .series:hover{
  background-color: rgba(98, 98, 98, 0.717);
}

.profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../images/account.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user{
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  left: 35px;
  z-index: 100;
  background-color: #21212198;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid grey;
  border-radius: 10px;
}

.usericon{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url('../images/account.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.username{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.watch{
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.787);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-home{
  font-size: 2rem;
  display: none;
  top: 0;
  left: 0;
  background-image: url('../images/home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.watch-home{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
}